body {
    background: #302f30;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
footer {
    padding-left: 50px;
    padding-right: 50px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.intro {
    margin: 30px 0px;
    text-align: center;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-size: 74px;
    font-weight: bold;
}

.searchArea {
    margin-left: 25vw;
}

/* Set the border, width, and padding for the user input field */
#searchBar {
    border-radius: 5px;
    max-width: 60%;
    height: 42px;
    padding: 5px;
    border: 2px solid #000000;
    float: left;
    font-size: 18px;
}

#btnSearch {
    float: left;
    height: 44px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    border-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    background: #302f30;
    font-weight: normal;
    transition: all 0.75s ease;
}

/* Add a hover effect to the add items button */
    #btnSearch:hover {
        background-color: #515151;
    }

#tableParent {
    margin-left: 15vw;
    margin-top: 40px;
    text-align: left;
}

.tableChild {
    margin: 5px;
    text-align: left;
    color: #ffffff;
    width: 65vw;
    border: 2px solid #000000;
    background-color: #515151;
    transition: all 0.75s ease;
}

#itemsPurchased {
    float: left;
    width: 100%;
    padding: 5px;
}

/* (Use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after column containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}