body {
    background: #1d2731;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
footer {
    padding-left: 50px;
    padding-right: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt dd {
    white-space: normal;
}

.dl-horizontal dd {
    margin-bottom: 10px;
}

.intro {
    margin: 30px 0px;
    text-align: center;
    font-weight: bolder;
}

hr {
    border: 2px solid #e8e8e8;
}

h1 {
    font-size: 74px;
    font-weight: bold;
}

.searchArea {
    margin-left: 25vw;
}

/* Set the border, width, and padding for the user input field */
#searchBar {
    max-width: 60%;
    height: 44px;
    border: 1px solid #000000;
    float: left;
    font-size: 18px;
}

#btnSearch {
    float: left;
    height: 44px;
    cursor: pointer;
    border: 1px solid #000000;
    color: #ffffff;
    background: #565656;
    font-weight: normal;
    transition: all 0.75s ease;
}

    /* Add a hover effect to the add items button */
    #btnSearch:hover {
        background-color: #d0d0d0;
        color: #000000;
    }

.tableParent {
    margin-left: 15vw;
    margin-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
}

.tableChild {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    color: #ffffff;
    background-color: #6e3667;
    width: 65vw;
    border: 1px solid #000000;
    transition: all 0.75s ease;
}

    .tableChild:hover {
        background-color: #e8e8e8;
        color: #000000;
    }

#itemsPurchased {
    float: left;
    width: 100%;
    padding: 5px;
}

/* (Use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after column containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
