@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework V</h1>
    <p class="lead">This is the main page for CS460's fifth homework assignment.</p>
    <p><a href="https://github.com/brockv/brockv.github.io/tree/master/CS460/HWK5" class="btn btn-primary btn-lg">&raquo; View repository &laquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current Residents</h2>
        <p>
            Submit a service request form.
        </p>
        <p><a class="btn btn-default" href="http://localhost:50237/Home/RequestForm">&raquo; Submit a Service Request &laquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Landlords</h2>
        <p>View all service requests.</p>
        <p><a class="btn btn-default" href="http://localhost:50237/Home/RequestLog">&raquo; View Service Request Log &laquo;</a></p>
    </div>
</div>