<div class="intro col-12">
    <h1>Wide World Importers</h1>
    <hr />
    <div>
        <div class="border"></div>
        <div c></div>
    </div>
    <h3>Sorry - the client you requested doesn't exist or was deleted.</h3>
</div>