/*
 * Programmer: Vance, Brock
 * Western Oregon University
 * October 1, 2018
 * Class: CS460
 * Assignment: Homework II
 * File Name: style.css
 */

/* Set the form background color, alignment, and font for the page content */
body
{
	background: #302f30;
	text-align: center;
	font-family: 'Cambria Math', sans-serif;
    color: #ffffff;
}

.intro
{
	margin: 30px 0px;
	font-weight: bold;
}

h1
{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

p
{
	font-weight: 600;
}

#first
{
	margin-top: 10px;
	color: #c972c9;
}

#second
{
	color: #51DF70;

}

/* Set the border, width, and padding for the user input field */
input
{
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}

/* Style the button to add items to the list */
#btnAddItem
{
    cursor: pointer;
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #605d60;
	background-color: #515151;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

/* Add a hover effect to the add items button */
#btnAddItem:hover
{
	background-color: #c972c9;
	color: #FFCD5D;
}

/* Set the alignment and margin for the list */
ul
{
    text-align: left;
    margin-top: 20px;
}

/* Style the individual list items */
li
{
    cursor: pointer;
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #c972c9;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
    
    /* Make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Add a hover effect to the individual list items */
li:hover
{
	background: #aa5aaa;
}

/* Style the delete item button assigned to each list item */
li > button
{
	font-weight: normal;
	background: none;
    border-style: solid''
	float: right;
	color: #000000;
	font-weight: 800;
    cursor: pointer;
}