/*
 * Programmer: Vance, Brock
 * Western Oregon University
 * October 1, 2018
 * Class: CS460
 * Assignment: Homework II
 * File Name: style.css
 */

/* Set the form background color, alignment, and font for the page content */
body
{
<<<<<<< HEAD
	background: #04A1BF;
	text-align: center;
	font-family: 'Cambria Math', sans-serif;
=======
	background: #302f30;
	text-align: center;
	font-family: 'Cambria Math', sans-serif;
    color: #ffffff;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
}

.intro
{
	margin: 30px 0px;
	font-weight: bold;
}

h1
{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

p
{
	font-weight: 600;
}

#first
{
	margin-top: 10px;
<<<<<<< HEAD
	color: #FFCD5D;
=======
	color: #c972c9;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
}

#second
{
	color: #51DF70;

}

<<<<<<< HEAD
#third
{
	color: #025F70;
	margin-bottom: 30px;
}


=======
/* Set the border, width, and padding for the user input field */
input
{
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border-style: solid;
}

>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
/* Style the button to add items to the list */
#btnAddItem
{
    cursor: pointer;
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
<<<<<<< HEAD
	color: #04A1BF;
	background-color: #025F70;
=======
    border-style: solid
	color: #605d60;
	background-color: #515151;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

/* Add a hover effect to the add items button */
#btnAddItem:hover
{
<<<<<<< HEAD
	background-color: #02798F;
=======
	background-color: #c972c9;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
	color: #FFCD5D;
}

/* Set the alignment and margin for the list */
ul
{
<<<<<<< HEAD
	text-align: left;
	margin-top: 20px;
=======
    text-align: left;
    margin-top: 20px;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
}

/* Style the individual list items */
li
{
    cursor: pointer;
	list-style: none;
	padding: 10px 20px;
<<<<<<< HEAD
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
=======
	color: #000000;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #000000;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #c972c9;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
    
    /* Make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Add a hover effect to the individual list items */
li:hover
{
<<<<<<< HEAD
	background: #76CFE0;
=======
	background: #aa5aaa;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
}

/* Style the delete item button assigned to each list item */
li > button
{
	font-weight: normal;
	background: none;
<<<<<<< HEAD
	border: none;
	float: right;
	color: #025f70;
=======
    border: none;
	float: right;
	color: #000000;
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
	font-weight: 800;
    cursor: pointer;
}

<<<<<<< HEAD
/* Set the border, width, and padding for the user input field */
input
{
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}

=======
>>>>>>> ef9210f3d03e5e0716f4c01b79f459f2df188b7d
/* Set list items to have a strikethrough when marked completed by the user*/
.checked
{
	background: #888 !important;
	color: #ddd;
    text-decoration: line-through;
}

/* Hide individual list items deleted by the user */
.delete
{    
	display: none;
}