@{
    ViewBag.Title = "Converter";
}

<head>
    <!-- Applying stylesheet here because it wasn't being applied from _Layout.cshtml -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Homework IV", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li>@Html.ActionLink("Converter", "Converter", "Home")</li>
                    <li>@Html.ActionLink("Color Mixer", "ColorMixer", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>Miles to Metric Converter</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="boxes">
                <div class="box-container col-md-4 col-xs-12">
                    <fieldset>
                        <legend>Miles:</legend>
                        <div>
                            <!-- Create the input field, set a default a prompt, and limit input length -->
                            <input id="userInput" type="text" pattern="[0-9]*" placeholder="Enter a number..." maxlength="27">
                            <button id="btnConvert" class="btn btn-default">&raquo; Convert &laquo;</button>
                        </div>
                    </fieldset>
                </div>

                <div id="radioButtons" class="box-container col-md-4 col-xs-12">
                    <fieldset>
                        <legend>Select unit to convert to:</legend>
                        <div>
                            <input type="radio" id="millimeters"
                                   name="units" value="millimeters" checked />
                            <label for="millimeters">Millimeters</label>
                        </div>
                        <div>
                            <input type="radio" id="centimeters"
                                   name="units" value="centimeters" />
                            <label for="centimeters">Centimeters</label>
                        </div>
                        <div>
                            <input type="radio" id="meters"
                                   name="units" value="meters" />
                            <label for="meters">Meters</label>
                        </div>
                        <div>
                            <input type="radio" id="kilometers"
                                   name="units" value="kilometers" />
                            <label for="kilometers">Kilometers</label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</body>