@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS460 Homework IV</h1>
    <p class="lead">This is the main page for the fourth homework assignment in CS460.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">View repository &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Miles to Metric Converter</h2>
        <p>Converter utilizing query strings to send information to the server where the calculations are performed.</p>
        <p><a class="btn btn-default" href="http://localhost:53616/Home/Converter">Continue &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Color Mixer</h2>
        <p>Alternative to color pickers that make sense.</p>
        <p><a class="btn btn-default" href="http://localhost:53616/Home/ColorMixer">Continue &raquo;</a></p>
    </div>
</div>