@{
    ViewBag.Title = "Home Page";
}

<body>
    <!-- Page header -->
    <div class="jumbotron text-center">
        <h1>CS460 Homework IV</h1>
        <p class="lead">This is the main page for the fourth homework assignment in CS460.</p>
        <p><a id="btnViewRepo" href="https://github.com/brockv/brockv.github.io/tree/master/CS460/HWK4" class="btn btn-primary btn-lg">&raquo; View repository &laquo;</a></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="boxes">
                <div class="box-container col-md-4 col-xs-12">
                    <h2>Miles to Metric Converter</h2>
                    <p>Converter utilizing query strings to send information to the server where the calculations are performed.</p>
                    <p><a class="btn btn-default" href="http://localhost:53616/Home/Converter">&raquo; Converter &laquo;</a></p>
                </div>

                <div class="box-container col-md-4 col-xs-12">
                    <h2>Color Mixer</h2>
                    <p>Combine two HTML color codes to create an exciting new color!</p>
                    <p><a class="btn btn-default" href="http://localhost:53616/Color/ColorMixer">&raquo; Color Mixer &laquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</body>