body {
    background: #1d2731;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
    height: 100%;
}

.intro {
    text-align: center;
    font-weight: bolder;
    background-color: #1e1e1e;
}

hr {
    border: 2px solid #e8e8e8;
}

#header {
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 60px; /* Height of the footer */
}


body.modal-open .modal {
    display: flex !important;
    height: 100%;
    align-items: center;
}

    body.modal-open .modal .modal-dialog {
        margin: auto;
    }

.modal {
    color: #000000;
}

#btnOpenModal {
    width: 225px;
    max-width: 225px;
    border: 2px solid #000000;
    font-weight: bold;
}

#tableHeader {
    font-size: 28px;
}

#bidsTable {
    border-collapse: collapse;
    display: none;
    float: left;
    max-width: 40%;
}