@{
    ViewBag.Title = "Home Page";
}

<!-- DO NOT REMOVE THIS. Doing so will break the layout. -->
    </div>

<div class="jumbotron intro col-12" style="text-align: center;">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
    <hr style="margin-right: 50px; margin-left: 50px;" />
    <div>
        <div class="border"></div>
        <div c></div>
    </div>
</div>


<div class="row">

</div>


<footer id="footer">
    <hr style="margin-right: 50px; margin-left: 50px;" />
    <p style="margin-left: 50px;">&copy; @DateTime.Now.Year - Brock Vance</p>
</footer>