
@{
    ViewBag.Title = "Index";
}


<body>
    <div class="row inputArea">

        <div class="col-12">
            <!-- Create the input bar -->
            <p><strong>Internet Language Translator</strong></p>
            @Html.TextBox("inputString", "", new
        {
            @class = "form-control",
            id = "userInput",
            placeholder = "Start typing your message here...",
            type = "text",
        })
        </div>
    </div>
    <p>
        <div id="container">
        </div>
    </p>

</body>

@section scriptSection
{
    <script type="text/javascript" src="~/Scripts/js_functions.js"></script>
}
