@{
    ViewBag.Title = "Index";
}

<!-- DO NOT REMOVE THIS. Doing so will break the layout. -->
    </div>


<div class="row inputArea">

    <div class="col-12">
        <!-- Create the input bar -->
        @Html.TextBox("inputString", "", new
    {
        @class = "form-control",
        id = "userInput",
        placeholder = "Start typing your message here...",
        type = "text",
    })

    </div>
</div>

<div style="margin-top: 10px;">
    <!-- Add a button to refresh the page and let the client start over -->
    <input type="button" id="btnClear" value="Start Over" onClick="window.location.reload()">
</div>

<div id="container" style="margin-left: 15px;">
    <p>
        <div id="messageContainer"></div>
    </p>
</div>


@section scriptSection
{
    <script type="text/javascript" src="~/Scripts/js_functions.js"></script>
}

</div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Brock Vance</p>
    </footer>
</div>
